<section>
    <a href="/dashboard"> Back to dashboard</a>
  <h2>create new blog post</h2>

  <form>
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert blog title here"/>
    </div>
    <div>
      <label for="post-content">Content:</label>
      <input class="textarea" id="post-content" name="post-content" placeholder="insert blog content here"/>
    </div>
    <button type="submit">Create a post</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>