<div>
<h2>login:</h2><hr>
<form class="login-form">
  <div class="login-info">
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div class="login-info">
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">xx login xx</button>
    <a href="/signup"><button type="button">xx signup xx</button></a>
  </div>
</form>
</div>

<!-- javascript file-->
<script src="/javascript/login.js"></script>