<div>
<h2>Create New Account:</h2><hr>
<form class="signup-form">
  <div class="signup-info">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="signup-info">
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div class="signup-info">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>
</form>
</div>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>